body {
	-webkit-font-smoothing: antialiased;
	background-color: #212529;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
    font-size: 0.925rem;
    background-color: #212529;
}

a {
    color: white;
	text-decoration: none;
}

.container {
	width: 1170px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar,
.navbar .container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.navbar,
    .navbar .container {
		display: block;
	}
}

.navbar {
    
	padding: 1.15rem 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
	background-color: #212529;
}

@media (min-width: 576px) {
	.navbar .container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.navbar .container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.navbar .container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.navbar .container {
		max-width: 1140px;
	}
}

.navbar .navbar-header {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	.navbar .navbar-header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
	}
}

.navbar .navbar-header .navbar-toggler {
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	display: none;
	outline: none;
}

@media (max-width: 768px) {
	.navbar .navbar-header .navbar-toggler {
		display: block;
	}
}

.navbar .navbar-header .navbar-toggler span {
	height: 2px;
	width: 22px;
	background-color: #66f;
	display: block;
}

.navbar .navbar-header .navbar-toggler span:not(:last-child) {
	margin-bottom: 0.3rem;
}

.navbar .navbar-header > a {
    font-size: 3rem;
	font-weight: 600;
	color: white;
}

.navbar .navbar-menu {
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	align-items: center;
}

@media (max-width: 768px) {
	.navbar .navbar-menu {
		display: none;
		text-align: center;
	}
}

.navbar .navbar-menu .navbar-nav {
	margin-left: auto;
	flex-direction: row;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

@media (max-width: 768px) {
	.navbar .navbar-menu .navbar-nav {
		width: 100%;
		display: block;
		border-top: 1px solid #EEE;
		margin-top: 1rem;
	}
}

.navbar .navbar-menu .navbar-nav > li > a {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5rem 1rem;
}

.navbar .navbar-menu .navbar-nav > li > a:hover {
	color: #66f;
}

@media (max-width: 768px) {
	.navbar .navbar-menu .navbar-nav > li > a {
		border-bottom: 1px solid #EEE;
	}
}

.navbar .navbar-menu .navbar-nav > li.active a {
	color: #66f;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
	list-style: none;
	position: absolute;
	top: 150%;
	left: 0;
	background-color: #fff;
	padding: 0.5rem 0;
	min-width: 160px;
	width: auto;
	white-space: nowrap;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	z-index: 99999;
	border-radius: 0.75rem;
	display: none;
}

@media (max-width: 768px) {
	.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
		position: relative;
		box-shadow: none;
	}
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
	color: #3c4250;
	padding: 0.25rem 1rem;
	display: block;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
	display: block !important;
}

.navbar .navbar-menu .navbar-nav .dropdown > .separator {
	height: 1px;
	width: 100%;
	margin: 9px 0;
	background-color: #eee;
}

.navbar .navbar-dropdown {
	position: relative;
}

.navbar .navbar-header > a span {
	color: #66f;
}

.navbar .navbar-header h4 {
	font-weight: 500;
	font-size: 1.25rem;
}

h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
}


h3 {
	font-weight: normal;
    color: white;
    text-align: center;
}

h4 {
	font-weight: normal;
    color: white;
    text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
   }

pre {
	text-align: left;
	display: new-line;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: white;
	font-size: 15.4px;
}

.docs {
	text-decoration: underline;
	color: #66f;
}

#pricing{
	width: 1000px;
	margin: 100px auto;
	font-family: 'Open Sans', Helvetica;
}

.price_card{
	width: 300px;
	border: #66f solid 4px;
	border-radius: 30px;
	display: inline-table;
	top: 0;
	align-items: center;
}
.price_card:not(:last-child){
	margin-right: 40px;
}
.header{
	color: rgb(255, 255, 255);
}
.alpha .header{
	border: #66f 2px solid;
	border-radius: 28px;
}
.bravo .header{
	border: #66f 2px solid;
	border-radius: 28px;
}
.charlie .header{
	border: #66f 2px solid;
	border-radius: 28px;
}
.price{
	width: 100%;
	font-size: 60px;
	font-weight: 300;
	display: block;
	text-align: center;
	padding: 30px 0 10px;
}
.name{
	width: 100%;
	font-size: 15px;
	font-weight: 700;
	display: block;
	text-align: center;
	padding: 0 0 30px;
}
.features{
	list-style: none;
	text-align: center;
	align-items: center;
	align-content: center;
	color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
}
.features li{
	margin: 0 35px;
	padding: 20px 15px;
	width: 200px;
}
.features li:not(:last-child){
	border: 1px solid rgb(255, 255, 255);
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

footer {
	position: absolute;
	bottom: 0;
	padding: 20px;
	
}

.fine-print {
	color: rgba(67, 67, 68, 0.99);
	
}

/* Mixins */
/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
	background: #52A0FD;
	background: -moz-linear-gradient(left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
	background: -webkit-linear-gradient(left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
	background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}

.bg-gradient2 span,
.bg-gradient2:before {
	background: #44ea76;
	background: -moz-linear-gradient(left, #44ea76 0%, #39fad7 80%, #39fad7 100%);
	background: -webkit-linear-gradient(left, #44ea76 0%, #39fad7 80%, #39fad7 100%);
	background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
}

.bg-gradient3 span,
.bg-gradient3:before {
	background: #fa6c9f;
	background: -moz-linear-gradient(left, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
	background: -webkit-linear-gradient(left, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
	background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
}


button{
	color: rgb(255, 255, 255);
	border: 0;
	border-radius: 10px;
	height: 40px;
	width: 200px;
	display: block;
	font-weight: 700;
	font-size: 15px;
	margin: 20px auto 35px;
	cursor: pointer;
}
.alpha button{
	background: #52A0FD;
	background: -moz-linear-gradient(left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
	background: -webkit-linear-gradient(left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
	background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}
.bravo button{
	background: #52A0FD;
	background: -moz-linear-gradient(left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
	background: -webkit-linear-gradient(left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
	background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}
.charlie button{
	background: #52A0FD;
	background: -moz-linear-gradient(left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
	background: -webkit-linear-gradient(left, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
	background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}